.btn{
    outline: none;
    margin: auto .2rem;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
}

.btn--light{
    color: black;
}

.btn--dark {
    color: white;
}