.user-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.user-list__item{
    flex-basis: 40%;
    border: 1px solid gainsboro;
    flex-grow: 1;
    border-radius: .5rem;
    padding: 0 2rem;
}